.certifications-section {
    padding: 100px 20px;
    background-color: #121212;
    text-align: center;
  }

  .certifications-section:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 25px rgba(79, 70, 229, 0.3);
  }

  .certifications-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .certifications-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  .certification-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .certification-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(79, 70, 229, 0.3);
  }
  
  .certification-card h3 {
    font-size: 22px;
    color: #8b5cf6;
    margin-bottom: 10px;
  }
  
  .certification-card p {
    font-size: 16px;
    color: #bdbdbd;
    margin: 5px 0;
  }
  
  .certification-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #8b5cf6;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
  }
  
  .certification-link:hover {
    background-color: #6d28d9;
  }
  